!!! 5
%html
  %head
    %title QuestingCloud
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

%body
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        = link_to "Questing Cloud", statuses_path, :class => "brand"
        %ul.nav

  .container
    - flash.each do |type, message| 
      .alert{:class => flash_class(type)}
        %button.close{ "data-dismiss" => "alert"} x
        = message   
    = yield